.box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 90px 0 0;
    h1 {
        margin: 0;
        font-family: $titleFont;
        font-size: 50px;
        color: $genColor;
    }
}
@for $i from 1 through 4 {
    .box1-item_#{$i} {
        position: absolute;
        font-size: 20px;
        font-family: $textFont;
        color: $genColor;
    }
    .elipse_#{$i} {
        @extend %value_elipse;
        
    }
    .wrap-elipse_#{$i} {
        @extend %wrap-value-elipse;
    }
    .text_#{$i} {
        margin-bottom: 10px;
    }
} 
.translate-y {
    transition: 1s linear;
}
.wrap-elipse_1 {
    width: 53px;
    height: 53px;
}
.wrap-elipse_2 {
    width: 22px;
    height: 22px;
}
.wrap-elipse_3 {
    width: 17px;
    height: 17px;
}
.wrap-elipse_4 {
    width: 16px;
    height: 16px;
}
.box1-item_1 {
    display: flex;
    align-items: center;
    left: 492px;
    top: 259px;

}
.box1-item_2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    left: 158px;
    top: 398px;

}
.box1-item_3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    left: 299px;
    top: 503px;

}
.box1-item_4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    left: 716px;
    top: 485px;

}
.text_1 {
    margin: 0 0 0 20px;
}
.text_3 {
    margin-right: 90px;
}
.next {
    padding: 0 0 14px;
    align-self: center;
    width: 100%;
    text-align: center;
    background: url(../img/static/elipse-bg.png) center bottom no-repeat;
    background-size: cover;
}
.text-next {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-family: $titleFont;
    color: white;
    &::after {
        content: '';
        background: url(../img/static/arrow-next-down.png) no-repeat;
        background-size: cover;
        width: 55px;
        height: 26.5px;
        margin: 10px 0 0;
    }
}





@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: .1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

