.circle-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 1%;
    top: calc( 50% - 63px);
    z-index: 10;
}
.circle-link {
    display: block;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: 5px;
}
.current-circle-link {
    background-color: #f78b1f;
}